@font-face {
    font-family: "Roboto";
    src: url(../font/Roboto/Roboto-Regular.ttf);
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto-Regular", sans-serif;
    margin: 0;
    padding: 0;
    display: ;
}

h1 { font-size: 64px;
    text-align: center;
 }
h2 { font-size: 28px;
    text-transform: uppercase;
}
h3 { font-size: 24px; }


.main_menu {
    display: flex;
    align-items: center;
}

.main_menu .logo {
    display: flex;
    margin-left: 30vh;
    margin-bottom:3vh;
}


ul {
    list-style: none;
    display: flex;
    margin-left: auto;
    margin-right: 10vh;
    }

li {
    margin-left: 1rem;
}

.btn {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: #fe4676;
    text-decoration: none;
    border-radius: 5px;
}

a {
    text-decoration-line: none;
}

.btn a {
    text-decoration-line: none;
    color: white ;
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
}



.vision {
    background-image: url(../img/img/photo-1556139943-4bdca53adf1e\ 1.jpg);
    background-size: cover;
    height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.photo_index {
    display: flex;
    align-items: center;
    justify-content: center;
}

.drh {
    padding-left: 8rem;
}

.drh h2 {
    text-transform: uppercase;
}

.approche {
    text-align: center;
    margin-left: 3rem;
    margin-top: 0;
}

.btn2 {
    display: inline-block;
    padding: 1rem 2rem;
    border: solid  #fe4676;
    text-decoration: none;
    border-radius: 5px;
    color:#fe4676;
    text-transform: uppercase;
}

.méthode {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10vh;
    margin-top: 10vh;
}

.cadre {
    width: 20rem;
    display: flex;
    flex-direction: column;
    margin-right: 10vh;
    margin-left: 10vh;
    align-items: center;
    text-align: center;
}

.identifier {
    display: flex;
    justify-content: center;
}

.comprendre {
    display: flex;
    justify-content: center;
}

.frame {
    width: 8vh;
}

.accompagnement {
    text-align: center;
    margin: 10vh;
}

.talents {
    display: flex;
    justify-content: center;
    gap: 10vh;
    margin: 10vh;
    text-align: center;
}

.box {
    display: flex;
    flex-direction: column;
    max-width: 30vh;  
}

.témoignages {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5vh;
}

.témoignage {
    border: solid 1px #68D8EE;
    width: 40vh;
    height: 50vh;
}

.overflow {
    position: relative;
    top: -3vh;
    padding-left: 2vh;
    padding-right: 2vh;
    background-color: white;
}

.blog_titre {
    margin-top: 10vh;
    text-align: center;
}

.articles_blog {
    display: flex;
    flex-direction: column;
    margin-left: 10vh;
    margin-right: 10vh;

}

.article {
    display: flex;
    margin-bottom: 5vh;
}
.photo_blog1 {
    width: 30vh;
    height: 30vh;
    margin-right: 10vh;
}

.photo_blog2 {
    width: 30vh;
    height: 30vh;
    margin-right: 10vh;
}

.article .btn2 {
    padding: 1rem 4rem;
}


.articles_blog::after {
    content: "";
    display: inline-block;
    width: 170vh;
    height: 2px;
    background-color: #68D8EE;
}

.p_talent::before {
    content: "";
    display: inline-block;
    width: 30vh;
    height: 20px;
    background-color: #68D8EE;
    position: relative;
    bottom: 6vh;
    z-index: -1;
}

.p_carrière::before {
    content: "";
    display: inline-block;
    width: 30vh;
    height: 20px;
    background-color: #FFE17A;
    position: relative;
    bottom: 6vh;
    z-index: -1;
}
.p_force::before {
    content: "";
    display: inline-block;
    width: 30vh;
    height: 20px;
    background-color: #DB7CF2;
    position: relative;
    bottom: 6vh;
    z-index: -1;
}

.blog {
    display: flex;
    justify-content: center;
}

.trait_bleu {
    margin-bottom: 8vh;
}
.trait_bleu::before {
    content: "";
    display:inline-block;
    width: 30vh;
    height: 2px;
    background-color: #68D8EE;
    position: relative;
    bottom: 10vh;
    left: 30vh;
}
.regret {
    text-align: center;
}

.trait_bleu2::after {
    content: "";
    display:inline-block;
    width: 30vh;
    height: 2px;
    background-color: #68D8EE;
    position: relative;
    top: 7vh;
    right: 42vh;
}
